.titleLabel{
  font-size: 1.5em;
}
.bottom-line {
  border-bottom: 1px solid;
  margin-left: 10px;
  margin-right: 10px;
  color: lightgrey;
}
@font-face {
  font-family: "ROBO_LIGHT";
  src: url("../../../../assets/font/Oswald-Regular.ttf");
}

* {
  font-family: "ROBO_LIGHT";
  color: white;
}

header {
  position: relative;
  height: 70px;
  background-image: linear-gradient(#87ceeb, #00bfff);
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}

h1 {
  margin: 0;
  padding: 100px 0;
  font: 30px " sans-serif";
  text-align: center;
}

header h1 {
  color: white;
}
.centre {
  position: absolute;
  left: 10%;
  top: 12%;
}

ion-header {
  position: relative;
  z-index: -1;
  overflow: hidden;
  border: 0px !important;
  border-bottom-color: transparent !important;
  border-bottom: none !important;
}
#main {
  margin: auto;
  width: 100%;
}

#sidebar {
  width: 150px;

  float: left;
}

#page-wrap {
  width: 200px;

  float: left;
}

.clear:after {
  clear: both;
  display: table;
  content: "";
}
ion-item {
  --border-width: 0;
  --inner-border-width: 0;
  --ion-background-color: transparent;
}

.bg-class {
  --background: linear-gradient(197deg, yellow 0%, purple 13.5%, skyblue 33.33%, purple 100%) !important;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height:6em ;
}
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');