<!--Header-->
<ion-header no-shadow no-border class="header">
  <div>
    <header>
      <div style="position: relative;top: -1em;">
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <ion-menu-button color="light"></ion-menu-button>
            </ion-col>
            <ion-col size="6">
              <h1>PROFILE</h1>
            </ion-col>
           
          </ion-row>
        </ion-grid>
      </div>
    </header>
  </div>

</ion-header>

<ion-content>

  <div>
    <ion-grid>
      <ion-row>
        <ion-col size="12">

          <ion-card>

            <ion-card-content>



              <ion-label>NAME</ion-label>
              <ion-list class="line-input">
                <ion-item>
                  <ion-label>{{userInfo?.name}}
                  </ion-label>
                </ion-item>
              </ion-list>

              <ion-label>Email</ion-label>
              <ion-list class="line-input">
                <ion-item>
                  <ion-label>{{userInfo?.email}}
                  </ion-label>
                </ion-item>
              </ion-list>

              <ion-label>Phone</ion-label>
              <ion-list class="line-input">
                <ion-item>

                  <ion-label>{{userInfo?.phoneNumber}}
                  </ion-label>
                </ion-item>
              </ion-list>

              <ion-label>Description</ion-label>
              <ion-list class="line-input">
                <ion-item>

                  <ion-label>{{userInfo?.description}}
                  </ion-label>
                </ion-item>
              </ion-list>

              <ion-label>Age</ion-label>
              <ion-list class="line-input">
                <ion-item>

                  <ion-label>{{userInfo?.age}}
                  </ion-label>
                </ion-item>
              </ion-list>

              <ion-label>WeChatNum</ion-label>
              <ion-list class="line-input">
                <ion-item>

                  <ion-label>{{userInfo?.weChatNum}}
                  </ion-label>
                </ion-item>
              </ion-list>
              <ion-label>Region</ion-label>
              <ion-list class="line-input">
                <ion-item>

                  <ion-label>{{userInfo?.region}}
                  </ion-label>
                </ion-item>
              </ion-list>
              <ion-label>Gender</ion-label>
              <ion-list class="line-input">
                <ion-item>

                  <ion-label>{{userInfo?.genderName}}
                  </ion-label>
                </ion-item>
              </ion-list>

              <ion-label>Favourites</ion-label>
              <ion-list class="line-input">
                <ion-item>

                  <ion-label>{{userInfo?.favorites}}
                  </ion-label>
                </ion-item>
              </ion-list>

              <ion-label>Autobiography</ion-label>
              <ion-list class="line-input">
                <ion-item>

                  <ion-label>{{userInfo?.skiLevel}}
                  </ion-label>
                </ion-item>
              </ion-list>


            </ion-card-content>
          </ion-card>
        </ion-col>


      </ion-row>
    </ion-grid>
  </div>

  <div style=" position: relative;top: -2px;height:1.5em;z-index: 5;
  background-image: linear-gradient(#87ceeb, #00bfff);
  border-top-left-radius: 50% 20%;
  border-top-right-radius: 50% 20%;">
    
  </div>
  <!-- <ion-list class="listContent">
    <ion-item >
      <ion-label>
        <ion-text>
          <h2 padding-bottom class="fieldLabel">{{translateUtil.translateKey('USERNAME')}}</h2>
        </ion-text>
        <ion-text>{{userInfo?.userName}}</ion-text>
      </ion-label>
    </ion-item>
    <ion-item >
      <ion-label>
        <ion-text>
          <h2 padding-bottom class="fieldLabel">{{translateUtil.translateKey('NAME')}}</h2>
        </ion-text>
        <ion-text>{{userInfo?.name}}</ion-text>
      </ion-label>
    </ion-item>
    <ion-item >
      <ion-label>
        <ion-text>
          <h2 padding-bottom class="fieldLabel">{{translateUtil.translateKey('EMAIL')}}</h2>
        </ion-text>
        <ion-text>{{userInfo?.email}}</ion-text>
      </ion-label>
    </ion-item>
    <ion-item >
      <ion-label>
        <ion-text>
          <h2 padding-bottom class="fieldLabel">{{translateUtil.translateKey('Phone')}}</h2>
        </ion-text>
        <ion-text>{{userInfo?.phoneNumber}}</ion-text>
      </ion-label>
    </ion-item>
    <ion-item  *ngIf="userInfo?.weChatNum">
      <ion-label>
        <ion-text>
          <h2 padding-bottom class="fieldLabel">{{translateUtil.translateKey('WeChat ID')}}</h2>
        </ion-text>
        <ion-text>{{userInfo?.weChatNum}}</ion-text>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="userInfo?.age">
      <ion-label>
        <ion-text>
          <h2 padding-bottom class="fieldLabel">{{translateUtil.translateKey('Age')}}</h2>
        </ion-text>
        <ion-text>{{userInfo?.age}}</ion-text>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="userInfo?.region">
      <ion-label>
        <ion-text>
          <h2 padding-bottom class="fieldLabel">{{translateUtil.translateKey('REGION')}}</h2>
        </ion-text>
        <ion-text>{{userInfo?.region}}</ion-text>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="userInfo?.genderName">
      <ion-label>
        <ion-text>
          <h2 padding-bottom class="fieldLabel">{{translateUtil.translateKey('Gender')}}</h2>
        </ion-text>
        <ion-text>{{userInfo?.genderName}}</ion-text>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="userInfo?.favorites">
      <ion-label>
        <ion-text>
          <h2 padding-bottom class="fieldLabel">{{translateUtil.translateKey('FAVORITES')}}</h2>
        </ion-text>
        <ion-text>{{userInfo?.favorites}}</ion-text>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label text-wrap>
        <ion-text>
          <h2 padding-bottom class="fieldLabel">{{translateUtil.translateKey('Autobiography')}}</h2>
        </ion-text>
        <ion-text>{{userInfo?.description}}</ion-text>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="userInfo?.iconUrl" lines="none" margin-bottom>
      <img *ngIf="userInfo?.iconUrl" [src]="userInfo?.iconUrl">
    </ion-item>

    <ion-list-header color="secondary" class="listHeader">Update Icon</ion-list-header>
    <ion-item *ngIf="isApp" lines="none">
      {{translateUtil.translateKey("Choose a Icon")}}
      <ion-button size="small" slot="end" (click)="onFromLibrary()">
        <ion-icon name="folder-open"></ion-icon>
      </ion-button>
      <ion-button size="small" slot="end" (click)="onFromCamera()">
        <ion-icon name="camera"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item *ngIf="!isApp" lines="none">
      <ion-button size="small" slot="start" (click)="onClickIcon()">Choose</ion-button>
      <ion-text ><p id="files_info">{{files_info}}</p></ion-text>
      <ion-button size="small" slot="end" (click)="updateImageDisplay()">Upload</ion-button>
    </ion-item>
    <input id="image_uploads" type="file" name="pic" accept="image/*" hidden>


  </ion-list>
  <div class="scroll-content"></div> -->


</ion-content>