header {
    position: relative;
    height: 150px;
    background-image: linear-gradient(#87ceeb, #00bfff);
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
  }
  
  h1 {
    margin: 0;
    padding: 100px 0;
    font: 30px " sans-serif";
    text-align: center;
  }
  
  header h1 {
    color: white;
  }
  .centre {
    position: absolute;
    left: 10%;
    top: 12%;
  }
  
  ion-header {
    overflow: hidden;
    border: 0px !important;
    border-bottom-color: transparent !important;
    border-bottom: none !important;
  }

ion-avatar {
  width: 200px;
  height: 200px;
}
.line-input {
  margin-bottom: 0 !important;
  ion-item {
    --border-color: transparent !important;
    --highlight-height: 0;
    border: 1px solid black;
    border-radius: 4px;

    &.item-has-focus {
      border: 1px solid var(--ion-color-primary);
    }

    ion-label {
      color: #807e7e !important;
      font-weight: 300;
      font-size: 1rem !important;
    }
  }
}
@font-face {
  font-family: "ROBO_LIGHT";
  src: url("../../../assets/Oswald-Regular.ttf"); //mine
}

* {
  font-family: "ROBO_LIGHT";
}
