<!--Header-->
<ion-header no-shadow no-border class="header">
  <div *ngIf="this.currentPage=='resetpas'">
    <header>
      <div>
        <ion-grid>
          <ion-row>
            <ion-col size="9">
              <h1>Forgot Password</h1>
            </ion-col>
            <ion-col size="3">
              <ion-button (click)="onShowLogin()" mode='ios' color="danger">
                <ion-icon name="close"></ion-icon>
                CLOSE

              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </header>
  </div>
  <div *ngIf="this.currentPage=='login'">
    <header>
      <h1>LOGIN</h1>
    </header>
  </div>
  <div *ngIf="this.currentPage=='register'">
    <header>
      <h1>SIGNUP</h1>
    </header>
  </div>
</ion-header>

<ion-content>
  <div *ngIf="this.currentPage=='login'">
    <ion-grid>
      <ion-row>
        <ion-col size-xs="10" size-sm="10" size-md="7" size-lg="8" size-xl="8" offset="1" offset-lg="2" offset-md="2">
          <div style="margin-top: 5em;">

            <ion-label style="font-weight:bold;">Welcome,Login to continue</ion-label>
            <ion-list class="line-input">
              <ion-item>
                <ion-icon slot="start" name="mail-open"></ion-icon>
                <ion-input placeholder="Enter your email" [(ngModel)]="aclUser.email" name="email" #nameRef="ngModel"
                  required type="email"></ion-input>
              </ion-item>
            </ion-list>

            <ion-list class="line-input">
              <ion-item class="i2" no-lines>

                <ion-icon slot="start" name="unlock"></ion-icon>
                <ion-input [(ngModel)]="aclUser.password" name="password" placeholder="Enter password" type="{{type}}"
                  name="password" no-lines> </ion-input>
                <ion-icon slot="end" *ngIf="!showPass" fill="clear" type="button" item-right (click)="showPassword()"
                  name="eye" style="font-size: 25px;"></ion-icon>
                <ion-icon slot="end" *ngIf="showPass" fill="clear" type="button" item-right (click)="showPassword()"
                  name="eye-off" style="font-size: 25px;"></ion-icon>
              </ion-item>
            </ion-list>
            <div style="display: flex; align-content: center; align-items: center; justify-content: center;">
              <ion-button outline fill="clear" (click)="onShowForgotPassword()">Forgot Password</ion-button>
            </div>
            <ion-button mode='ios' color="none"
              style="border-radius:50px;background-image: linear-gradient(#00BFFF, #87CEEB);" shape="round" fill="solid"
              size="large" expand="block" (click)="onLogin()">LOGIN
              <ion-icon name="arrow-forward"></ion-icon>
            </ion-button>
            <div
              style="padding-bottom: 1.5em;display: flex; align-content: center; align-items: center; justify-content: center;">
              <ion-button (click)="onShowRegister()" fill="clear" class="ion-text-center">Dont't have an
                account-Register? </ion-button>
            </div>

          </div>

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="this.currentPage=='register'">
    <ion-grid>
      <ion-row>
        <ion-col size-xs="10" size-sm="10" size-md="7" size-lg="8" size-xl="8" offset="1" offset-lg="2" offset-md="2">
          <div style="margin-top: 5em;">

            <ion-label style="font-weight:bold;">Welcome,SIGNUP to continue</ion-label>
            <ion-list class="line-input">
              <ion-item>

                <ion-input placeholder="Enter your Name" type="text"></ion-input>
              </ion-item>
            </ion-list>

            <ion-list class="line-input">
              <ion-item>

                <ion-input placeholder="Enter your email" type="email"></ion-input>
              </ion-item>
            </ion-list>

            <ion-list class="line-input">
              <ion-item>

                <ion-input placeholder="Enter your phone" type="number"></ion-input>
              </ion-item>
            </ion-list>

            <ion-list class="line-input">
              <ion-item>

                <ion-input placeholder="Enter your User name" type="text"></ion-input>
              </ion-item>
            </ion-list>

            <ion-list class="line-input">
              <ion-item class="i2" no-lines>

                >
                <ion-input placeholder="Enter password" type="{{type}}" name="password" no-lines> </ion-input>
                <ion-icon slot="end" *ngIf="!showPass" fill="clear" type="button" item-right (click)="showPassword()"
                  name="eye" style="font-size: 25px;"></ion-icon>
                <ion-icon slot="end" *ngIf="showPass" fill="clear" type="button" item-right (click)="showPassword()"
                  name="eye-off" style="font-size: 25px;"></ion-icon>
              </ion-item>
            </ion-list>

            <ion-button mode='ios' color="none"
              style="padding-top: 0.5em;border-radius:50px;background-image: linear-gradient(#00BFFF, #87CEEB);"
              shape="round" fill="solid" size="large" expand="block">REGISTER
              <ion-icon slot="end" name="arrow-forward"></ion-icon>
            </ion-button>
            <div
              style="top: 0.5em;padding-bottom: 1.5em;display: flex; align-content: center; align-items: center; justify-content: center;">
              <ion-button (click)="onShowLogin()" fill="clear" class="ion-text-center">Already have an Account?
                SIGNIN </ion-button>
            </div>

          </div>

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="this.currentPage=='resetpas'">
    <ion-grid>
      <ion-row>
        <ion-col size-xs="10" size-sm="10" size-md="7" size-lg="8" size-xl="8" offset="1" offset-lg="2" offset-md="2">
          <div>
            <ion-label style="margin-top:1em ;">ENTER EMAIL TO CONTINUE</ion-label>
            <ion-list class="line-input">
              <ion-item>
                <ion-icon slot="start" name="mail-open"></ion-icon>
                <ion-input placeholder="Enter your email" type="email"></ion-input>
              </ion-item>
            </ion-list>

          </div>
          <div style="position: relative;top: 27em;">
            <ion-button mode='ios' color="none"
              style="padding-top: 0.5em;border-radius:50px;background-image: linear-gradient(#00BFFF, #87CEEB);"
              shape="round" fill="solid" size="large" expand="block">CONTINUE
              <ion-icon slot="end" name="arrow-forward"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


  <!--  <ion-list class="listContent" *ngIf="currentPage==LOGIN_PAGE">
    <ion-item>
      <ion-label position="stacked">{{translateUtil.translateKey('EMAIL')}}</ion-label>
      <ion-input type="email"
                 [(ngModel)]="aclUser.email"
                 name="email"
                 #nameRef="ngModel"
                 required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{translateUtil.translateKey('PASSWORD')}}</ion-label>
      <ion-input type="password" [(ngModel)]="aclUser.password"  name="password"></ion-input>
    </ion-item>
    <ion-button size="small" expand="block" (click)="onLogin()">{{translateUtil.translateKey('LOGIN')}}</ion-button>
  </ion-list>

  <ion-list class="listContent" *ngIf="currentPage==REGISTER_PAGE">
    <form #formRef="ngForm" (ngSubmit)="onRegister(formRef)">
      <ion-item>
        <ion-label position="stacked">Username<ion-text color="danger">*</ion-text></ion-label>
        <ion-input id="userName" type="text" [(ngModel)]="aclUser.userName" #userName="ngModel" name="userName" required
                   (ngModelChange)="resetError('userNameError')" (ionBlur)="checkUserName()" ng-trim="false"
                   pattern="^[a-zA-Z0-9]*$" minlength="2" maxlength="20"></ion-input>
      </ion-item>
      <ion-item *ngIf="userName.errors?.required && submitted">
        <ion-label color="danger" style="font-size: 0.85em">{{translateUtil.translateKey('USERNAME_REQUIRED')}}</ion-label>
      </ion-item>
      <ion-item *ngIf="userName.errors?.pattern && submitted">
        <ion-label color="danger" style="font-size: 0.85em">{{translateUtil.translateKey('NO_SPECIAL_CHAR')}}</ion-label>
      </ion-item>
      <ion-item *ngIf="userName.errors?.minlength && submitted">
        <ion-label color="danger" style="font-size: 0.85em" *ngIf="userName.errors?.minlength && submitted">{{translateUtil.translateKey('MIN_2')}}</ion-label>
      </ion-item>
      <ion-item *ngIf="userName.errors?.maxlength && submitted">
        <ion-label color="danger" style="font-size: 0.85em">{{translateUtil.translateKey('MAX_20')}}</ion-label>
      </ion-item>
      <ion-item *ngIf="userNameError" >
        <ion-label color="danger"  style="font-size: 0.85em" text-wrap>{{userNameError}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">{{translateUtil.translateKey('EMAIL')}}<ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="email" [(ngModel)]="aclUser.email" name="email" #email="ngModel" required
                   (ngModelChange)="resetError('emailError')" (ionBlur)="checkEmail()"
                   pattern="^[A-Za-z0-9!#$%&'*+\/=?^_`{|}~.-]+@[A-Za-z0-9+_{|}-]+[.][A-Za-z0-9+_{|}-]+$"></ion-input>
      </ion-item>
      <ion-item *ngIf="email.errors?.required && submitted">
        <ion-label color="danger" style="font-size: 0.85em">{{translateUtil.translateKey('EMAIL_REQUIRED')}}</ion-label>
      </ion-item>
      <ion-item *ngIf="email.errors?.pattern && submitted">
        <ion-label color="danger" style="font-size: 0.85em">{{translateUtil.translateKey('WRONG_EMAIL')}}</ion-label>
      </ion-item>
      <ion-item *ngIf="emailError && submitted">
        <ion-label color="danger" style="font-size: 0.85em" text-wrap>{{emailError}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">{{translateUtil.translateKey('PASSWORD')}}<ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="password" [(ngModel)]="aclUser.password"  name="password" #password="ngModel" required
                   (ngModelChange)="resetError('passwordError')" minlength="2" maxlength="20"></ion-input>
      </ion-item>
      <ion-item *ngIf="password.errors?.required && submitted">
        <ion-label color="danger" style="font-size: 0.85em">{{translateUtil.translateKey('PASSWORD')}} {{translateUtil.translateKey('REQUIRED')}}</ion-label>
      </ion-item>
      <ion-item *ngIf="password.errors?.minlength && submitted">
        <ion-label color="danger" style="font-size: 0.85em">{{translateUtil.translateKey('MIN_2')}}</ion-label>
      </ion-item>
      <ion-item *ngIf="password.errors?.maxlength && submitted">
        <ion-label color="danger" style="font-size: 0.85em">{{translateUtil.translateKey('MAX_20')}}</ion-label>
      </ion-item>
      <ion-item *ngIf="passwordError && submitted">
        <ion-label color="danger" style="font-size: 0.85em" text-wrap>{{passwordError}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">{{translateUtil.translateKey('CONFIRM_PASSWORD')}}<ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="password" [(ngModel)]="confirmPass" name="confirmPass" required #confirmPassCtl="ngModel"
                   (ngModelChange)="checkConfirmPassword()" ></ion-input>
      </ion-item>
      <ion-item *ngIf="confirmPassCtl.errors?.required && submitted">
        <ion-label color="danger" style="font-size: 0.85em">{{translateUtil.translateKey('CONFIRM_PASSWORD')}} {{translateUtil.translateKey('REQUIRED')}}</ion-label>
      </ion-item>
      <ion-item *ngIf="confirmPassError && submitted">
        <ion-label color="danger" style="font-size: 0.85em" text-wrap>{{confirmPassError}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label >{{translateUtil.translateKey('AGREE_TERMS')}}</ion-label>
        <ion-checkbox [(ngModel)]="aclUser.agreeTerms" name="agreeTerms"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-button size="small" expand="block" type="button" (click)="onTerms()">{{translateUtil.translateKey('TERMS')}}</ion-button>
      </ion-item>
      <ion-item *ngIf="!aclUser.agreeTerms && submitted">
        <ion-label color="danger" style="font-size: 0.85em" text-wrap>Please read and agree the terms.</ion-label>
      </ion-item>

      <ion-button size="small" expand="block" type="submit">{{translateUtil.translateKey('REGISTER')}}</ion-button>
    </form>
  </ion-list>


  <ion-list class="listContent" *ngIf="currentPage==RESET_PAGE">
    <form #formRef="ngForm" (ngSubmit)="onReset(formRef)">
      <ion-item>
        <ion-label position="stacked">{{translateUtil.translateKey('EMAIL')}}</ion-label>
        <ion-input type="email" [(ngModel)]="aclUser.email" name="email" #email="ngModel" required
                   pattern="^[A-Za-z0-9!#$%&'*+\/=?^_`{|}~.-]+@[A-Za-z0-9+_{|}-]+[.][A-Za-z0-9+_{|}-]+$"></ion-input>
      </ion-item>
      <ion-item *ngIf="email.errors?.required && submitted">
        <ion-label color="danger" style="font-size: 0.85em">{{translateUtil.translateKey('EMAIL_REQUIRED')}}</ion-label>
      </ion-item>
      <ion-item *ngIf="email.errors?.pattern && submitted">
        <ion-label color="danger" style="font-size: 0.85em">{{translateUtil.translateKey('WRONG_EMAIL')}}</ion-label>
      </ion-item>
      <ion-button size="small" expand="block" type="submit">{{translateUtil.translateKey('RESET_PASSWORD')}}</ion-button>
    </form>
  </ion-list>

  <ion-list margin-top>
    <ion-button size="small" expand="block" *ngIf="currentPage!=LOGIN_PAGE" (click)="onShowLogin()">{{translateUtil.translateKey('LOGIN')}}</ion-button>
    <ion-button size="small" expand="block" *ngIf="currentPage!=REGISTER_PAGE" (click)="onShowRegister()">{{translateUtil.translateKey('REGISTER')}}</ion-button>
    <ion-button size="small" expand="block" *ngIf="currentPage!=RESET_PAGE" (click)="onShowForgotPassword()">{{translateUtil.translateKey('FORGOT_PASSWORD')}}</ion-button>
    <ion-button size="small" expand="block" (click)="onCancel()">{{translateUtil.translateKey('CANCEL')}}</ion-button>
  </ion-list>

  <div class="scroll-content"></div> -->
</ion-content>